*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #202124;
  color: #e8eaed;
}

h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

li {
  padding: 10px;
}

a {
  color: #a7c7e7;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
}

a:hover {
  color: #f7a1c4;
  font-weight: 700;
}

.main-card {
  width: 360px;
  height: 290px;
  margin: 0 auto;
  margin-top: 35vh;
  text-align: center;
}
