*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #a2d2ff;
}

.container {
  background-color: #ffc9dd;
  width: 500px;
  /* height: 550px; */
  padding: 30px;
  margin: 8% auto;
  border-radius: 15%;
  border: solid #2e2e2e 2px;
}

.heading {
  font-size: 50px;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  text-align: center;
  color: #2e2e2e;
  letter-spacing: 2px;
}

.subhead {
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-bottom: 25px;
  color: #2e2e2e;
}

.ref-links {
  text-align: center;
  letter-spacing: 2px;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 20px;
}

li {
  margin: 20px auto;
  list-style: none;
}

.ref-links a {
  text-decoration: none;
  color: #1b4965;
  padding: 0px 5px;
}

.ref-links a:hover {
  text-decoration: underline solid;
  text-decoration-color: blue;
  color: blue;
}

.ref-links a::after {
  text-decoration: none;
}

.subhead a {
  text-decoration: none;
  color: #0077b6;
  padding: 0px 5px;
}

.subhead a:hover {
  text-decoration: underline;
  text-decoration-color: blue;
  color: blue;
  padding: 0px 5px;
}

.subhead a::after {
  text-decoration: none;
  color: #0077b6;
}
